name: test

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      memcached:
        image: memcached
        ports:
          - 11211:11211
      redis:
          image: redis
          ports:
            - 6379:6379
    steps:
      - name: setup-repos
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: setup-go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b

      - name: check-work-is-sync
        run: go work sync && git diff --exit-code

      - name: check-mod-are-tidy
        run: |
          ( cd core && go mod tidy && git diff --exit-code go.mod go.sum)
          ( cd diskv && go mod tidy && git diff --exit-code go.mod go.sum)
          ( cd otter && go mod tidy && git diff --exit-code go.mod go.sum)
          ( cd redis && go mod tidy && git diff --exit-code go.mod go.sum)
          ( cd memcache && go mod tidy && git diff --exit-code go.mod go.sum)

      - name: run-tests
        run: |
          go test -vet=all -v -race ./core/... ./diskv/... ./memcache/... ./otter/... ./redis/...

